
<div class="container">

    <h1 class="text-danger mx-auto" style="width: 200px;height: 100;">Departamentos</h1>
    <hr>

    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Departamentos of departamento;let indice=index">
            <td>{{indice+1}}</td>
            <td>{{Departamentos.nombre_depto}}</td>
            <td><i class="fas fa-pen acciones"> </i> <i class="fas fa-plus acciones"> </i> <i class="fas fa-trash-alt acciones"> </i></td>
          </tr>
          
        </tbody>
      </table>
      </div>
